html, body {
	margin: 0;
	padding: 0;
	background: #f5f5f4;
}

.headerBoundary {
	padding-bottom: 20px;
	cursor: pointer;
	transition: all 0.5s ease;

	&:hover{
		padding-bottom: 17px;

		.headerBar {
			height: 8px;
			background:#02A88E;
		}
	}

}

.headerBar {
	background: #013962;
	height: 5px;
	color: #013962;
	overflow: hidden;
	transition: all 0.5s ease;
}

.visuallyHidden {
	position: absolute !important;
	clip: rect(1px 1px 1px 1px);
	clip: rect(1px, 1px, 1px, 1px);
	padding: 0 !important;
	border: 0 !important;
	height: 1px !important;
	width: 1px !important;
	overflow: hidden;
}

.image {
	display: block;
	margin: 0 auto;
	max-width: 100%;
}

.logo {
	padding-bottom: 45px;
	padding-top: 15px;
}

.links {
	list-style: none;
	display: block;
	margin: 0;
	padding: 0;
	text-align: center;
}

.link {
	display: inline-block;
}

.destination {
	color: #006A7E;
	font-size: 20px;
	font-weight: 400;
	font-style: normal;
	font-family: sans-serif;
	border-bottom: 3px solid transparent;
	text-decoration: none;
	margin: 0 10px 3px;
	transition: all 0.5s;
}

.destination:hover {
	border-color: #006A7E;
}

.penrose {
	margin-top: 45px;
}