html, body {
	margin: 0;
	padding: 0;
}

html {
	background: #f5f5f4;
	background-image: url(../images/penrose.png);
	background-repeat: no-repeat;
	background-position: 50% 95%;
	min-height: 100%;

	

}

body {
	font-family: Monaco, Consolas, "Lucida Console", monospace;
}

.headerBoundary {
	padding-bottom: 20px;
	cursor: pointer;
	transition: all 0.5s ease;

	&:hover{
		padding-bottom: 17px;

		.headerBar {
			height: 8px;
			background:#02A88E;
		}
	}

}

.headerBar {
	background: #013962;
	height: 5px;
	color: #013962;
	overflow: hidden;
	transition: all 0.5s ease;
}

.visuallyHidden {
	position: absolute !important;
	clip: rect(1px 1px 1px 1px);
	clip: rect(1px, 1px, 1px, 1px);
	padding: 0 !important;
	border: 0 !important;
	height: 1px !important;
	width: 1px !important;
	overflow: hidden;
}

.image {
	display: block;
	margin: 0 auto;
	max-width: 100%;
}

.logo {
	padding-bottom: 45px;
	padding-top: 15px;
	width: 99%;
	max-width: 990px;
}

.links {
	list-style: none;
	display: block;
	margin: 0;
	padding: 0;
	text-align: center;
	@media (max-width:480px){
		text-align: left;
		font-size: .8em;
	}
}

.link {
	display: inline-block;
}

.destination {
	font-family: Monaco, Consolas, "Lucida Console", monospace;
	color: #006A7E;

	font-size: 20px;

	font-style: italic;
	border-bottom: 2px solid transparent;
	text-decoration: none;
	margin: 0 10px 2px;
	padding-left: 1px;
	transition: all 0.5s;

	position: relative;

}

.external:after {
	content: '\21F1';
	display: inline-block;
	font-style: normal;
	-webkit-transform: scale(-1, 1);
	-moz-transform: scale(-1, 1);
	-o-transform: scale(-1, 1);
	-ms-transform: scale(-1, 1);
	transform: scale(-1, 1);
	text-decoration: none;
	position: absolute;
	right: -1em;
	font-size: .9em;
	opacity: 0;
	transition: all 0.5s;

}

.external:hover:after {
	opacity: 1;
}

.destination:hover, .active {
	border-color: #006A7E;
}

.penrose {
	margin-top: 45px;
}

.hidden {
	height: 0;
	opacity: 0;
	display: none;
	transition: opacity 0.5s;
}
.shown { 
	//toggle shown class based on if the link is clicked
	transition: opacity 0.5s;
	opacity: 1;
}
.noList {
	list-style: none;
	margin: 0;
	padding: 0;
}

#about, #contact {
	max-width: 34em;
	margin: 0 auto;
	transition: opacity 0.5s;
	font-size: 14px;
	margin-top: 20px;
	padding: 0 1em;
}

#contactForm {
	text-align: left;
}
.contactLabel {
	display: block;
}

.textInput {
	display: block;
}